    /* azuloscuro: #378DCA
azulclaro: #1DAEFF
grisOscuro: #454545
grisMedio: #757575
grisClaro: #C4C4C4 */

.block {
    display: block;
    animation-name:  fadeIn;
    animation-duration: 2s;
}

.none {
    display: none;
    animation-name:  fadeOut;
    animation-duration: 2s;
}

.null {
  display: none;
}

.blockAdvance {
  display: block;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.circleAdvance {
  padding: 15px 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.blockSkills {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockStudy {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockWork {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockLanguages {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockProfile {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockDescription {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1100px;
  animation-name:  fadeIn;
  animation-duration: 2s;
}

.blockForm-general {
  width: 80%;
}

.formBlock {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 210px;
  margin-bottom: 30px;
  padding: 0 0 0 3px;
}

.formBlock-save {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 195px;
  margin-bottom: 30px;
  padding: 0 0 0 3px;
}

.blockForm-general label {
  font-size: 1rem;
  font-weight: 500;
  color: #757575;
}

.blockForm-general h2 {
  font-size: 2rem;
  font-weight: 500;
}

.flex-date {
  display: flex;
  margin-top: 20px;
}

.block-input-date {
  display: block;
  width: 50%;
}

.title-studies {
  margin: 20px 0 20px 0;
}

.block-input-date label {
  font-size: 1rem;
  font-weight: 300;
  color: #c4c4c4;
}

.formInput-date {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 300px;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
  color: #c4c4c4;
  margin: 10px 0;
  outline: none;
  opacity: .6;
}

.formInput-date:hover,
.formInput-date:focus {
  box-shadow: 0px 3px 6px #378dcaa6;
}

.check {
  font-family: 'Lato', sans-serif;
  font-size: .6rem;
  align-items: center;
 }

.gray {
  display: block;
}

.flex-form {
  display:flex
}

.block-input {
  display: block;
  width: 50%;
}

.formInput {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 10px 10px;
  border-radius: 20px;
  width: 300px;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
  color: black;
  margin: 15px 0 20px 0;
  outline: none;
  opacity: .6;
}

.formInput-large {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 5px 20px;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
  color: black;
  margin: 5px 0;
  outline: none;
  opacity: .8;
}

.label-functions {
  margin-top: 30px;
}

.label-description {
  margin: 0;
}

.block-list-studies {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


.formInput:placeholder {
  color: #c4c4c4;
}

.formInput:hover,
.formInput:focus {
  box-shadow: 0px 3px 6px #378dcaa6;
  
}

.buttons-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.buttons-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

.button-regresar {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #c4c4c4;
    border-radius: 30px;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin: 0 5px;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    outline   : none;
}

.button-siguiente {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 30px;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin: 0 5px;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    outline   : none;
}

.profile-image {
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.block-image-profile {
    display: block;
    text-align: center;
    width: 40%;
}

.display-none {
  display: none;
}

.subir {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  background: white;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: -50px;
  z-index: 2;
}

.blue {
  display: none;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  } 

  @media screen and (max-width: 1024px) {
    
    .blockSkills {
      width: 950px;
    }

    .blockStudy {
      width: 950px;
    }

    .blockWork {
      width: 950px;
    }

    .blockLanguages {
      width: 950px;
    }

    .blockDescription {
      width: 950px;
    }

    .blockProfile {
      width: 950px;
    }

    .block-list-studies {
      width: 770px;
      height: 190px;
      display: block; 
    }

    .formBlock {
      width: 770px;
      height: 250px;
    }

    .blockForm {
      width: 80%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

  }

  @media screen and (max-width: 768px) {

    .blockSkills {
      width: 100vw;
    }

  }