    /* azuloscuro: #378DCA
azulclaro: #1DAEFF
grisOscuro: #454545
grisMedio: #757575
grisClaro: #C4C4C4 */


.listTerms {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.listTerms-item a {
    text-decoration: none;
    color: #1DAEFF;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.logofooter {
    display: flex;
    align-items: center;
    width: 10%;
    color: #1DAEFF;
    font-weight: 700;
    /* margin-right: 40px; */
}

.footer-flex {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-footer-case {
    color: #1DAEFF;
}

.container-block-footer {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.logofooter img{
    margin-right: 10px;
}


.socialMedia a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

.icon-Logo_net540 {
    margin-right: 10px; 
}

.icon-Logo_youtube {
    font-size: 25px;
}

.icon-Logo_instagram {
    font-size: 25px;
}

.icon-Logo_linkedin {
    font-size: 25px;
}

.icon-Logo_facebook {
    font-size: 25px;
}


@media screen and (max-width: 1024px) {
    
    .footer-flex {
        width: 95%;
    }
    
    .container-block-footer {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .logofooter {
        width: 20%;
    }

    .listTerms a {
        margin: 0 10px;
        text-align: center;
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 768px) {

    .logofooter img{
        width: 60px;
    }

    .logofooter {
        width: 30%;
    }


    .listTerms a {
        margin: 0 10px;
        text-align: center;
        font-size: 0.6rem;
    }

    li {
        display: flex;
    }

    
    .icon-Logo_youtube {
        font-size: 20px;
    }
    
    .icon-Logo_instagram {
        font-size: 20px;
    }
    
    .icon-Logo_linkedin {
        font-size: 20px;
    }
    
    .icon-Logo_facebook {
        font-size: 20px;
    }

}

@media screen and (max-width: 426px) {

  .footer-flex {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }

  .logo-footer-case {
    font-size: 18px;
    color: #1DAEFF;
  }

  .logofooter {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .listTerms a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 10px 5px;
    text-align: center;
    font-size: .9rem;
    display: block;
  }

  .listTerms {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .socialMedia {
    width: 100%;
    justify-content: space-around;
  }
}