/* azuloscuro: #378DCA
azulclaro: #00BDEF */


.footerColor {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #757575;
    font-weight: 700;
    margin-top: 50px;
    padding: 10px 20px;
}

ol,
ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}




.listTerms a {
    text-decoration: none;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 0 10px;
    font-size: 0.8rem;
    text-align: center;
}

li p {
    display: none;
}

.listTerms {
    margin-right: 60px;
    width: 60%;
}

.logofooter {
    display: flex;
    align-items: center;
    width: 20%;
    margin-right: 40px;
}

.logofooter img{
    margin-right: 5px;
}


.socialMedia {
    align-items: center;
    display: flex;
    width: 20%;
}


.socialMedia a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 0 10px;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .footerColor {
        padding: 10px 20px;
    }

    .logofooter {
        width: 20%;
        margin-right: 40px;
    }

    .listTerms {
        margin-right: 40px;
    }


    .listTerms a {
        margin: 0 10px;
        text-align: center;
        font-size: 0.8rem;
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: center;
    }


    li {
        display: flex;
    }
    
}

@media screen and (max-width: 768px) {

    .footerColor {
    
        font-size: .7rem;
        padding: 20px;
    }

    .logofooter img{
        width: 60px;
    }

    .logofooter {
        width: 25%;
        margin-right: 20px;
    }


    .listTerms a {
        margin: 0 10px;
        text-align: center;
        font-size: 0.6rem;
    }

    .listTerms {
        margin-right: 25px;
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    li p {
        display: flex;
    }

    li {
        display: flex;
    }

}

@media screen and (max-width: 425px) {

    .footerColor {
      
        display: block;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-size: .5rem;
        color: white;
        font-weight: 500;
        margin-top: 50px;
        padding: 15px 20px 30px 20px;
    }

    .logofooter img{
        width: 150px;
    }

    .logofooter {
        width: 100%;
        margin:0;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }

    .spacefooter {
        width: 0
    }

    .listTerms a {
        text-decoration: none;
        color: #757575;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin: 15px 5px;
        text-align: center;
        font-size: .7rem;
        display: block;
    }

    .listTerms {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    ol,
    ul {
        display: flex;
        width: 100%;
    }

    .puntoNone {
        display: none;
    }

    .politicaNone {
        display: none;
    }



    .socialMedia {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}