.hero {
    text-align: center;
}

.registreBlock {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wrapper-home {
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* .wrapper-border {
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
} */

.home-page {
    display: block;
    text-align: center;
}

.container-home {
    display: inline-block;
    /* max-width: 1400px; */
}

.container-content-registre {
    display: inline-block;
    text-align: center;
    width: 90%;
}

.boxReg {
    width: 40%;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

body {
    background-image: url('${fondoTextura}');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.616);
}

.opacity {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
}

.buttonModal {
    border-style: none;
    background: none;
    outline   : none;
}

.buttonModal:hover,
.buttonModal:focus {
    border-style: none;
    background: none;
    outline   : none;
}

@media screen and (max-width: 1024px) {
    
    .wrapper-home {
        max-width: 950px;
        flex: 1;
        margin: 0 auto;
        display: inherit;
        justify-content: inherit;
        height: inherit;
        flex-wrap: inherit;
    }

    .boxReg {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    
    .boxReg {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    
    .boxReg {
        width: 100%;
    }

    h1 {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
