.titleComo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.howgran {
    margin: 0 0 40px 0;
}

.blockTitle {
    margin: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.blockTitle h2 {
    font-size: 3rem;
    color: #6A3DF9;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.buttonActive {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: white;
    border-radius: 30px;
    color: #6A3DF9;
    border-style: none;
    padding: 15px 30px;
    margin: 0 30px;
    font-weight: 800;
    box-shadow: 0 3px 8px 0 #693df9c4;
    outline   : none;
}

.buttonDesactive {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: white;
    border-radius: 30px;
    color: #a5a5a5;
    border-style: none;
    padding: 15px 30px;
    margin: 0 30px;
    font-weight: 800;
    box-shadow: 0 3px 8px 0 #00000027;
    outline   : none;
}

.Option {
    background: linear-gradient(to right, #A341FD, #4F4CF4);
    border-radius: 70px;
    padding: 5px 15px;
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    animation-name:  PopIn;
    animation-duration: 1s;
}

.Option p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;  
    color: white;
    animation-name:  fadeIn;
    animation-duration: 3s;
    font-weight: 700;
}



.content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.Option:hover,
.Option:focus {
  outline   : none;
  box-shadow: 0 3px 8px 0 #00000077;

}

.independiente {
    text-align: center;
}

.independienteDesactive  {
    display: none;
}


.empresa {
    text-align: center;

}

.empresaDesactive {
    text-align: center;
    display: none;
}

.pasoApaso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 390px;
}

.iconComo {
    padding: 40px;
    background: linear-gradient(to right, #A341FD, #4F4CF4);;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.iconComoActive {
    padding: 30px;
    background: linear-gradient(to right, #A341FD, #4F4CF4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.border {
    box-shadow: 0 3px 4px 0 #00000077;
    padding: 5px;
    border-radius: 80px;
    background: white;
    position: relative;
    z-index: 2;
    
}


.border:hover,
.border:focus {
  outline   : none;
  box-shadow: 0 3px 10px 0 #4f4cf4cb;

}

.boxIcon {
    display: flex;
    align-items: center;
}

.paso {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0 20px;
    width: 160px;
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    animation-name:  fadeIn;
    animation-duration: 1s;
    color: rgb(80, 80, 80);
    height: 400px;
}

.paso h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #AB97FF;
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;

}

.paso h3 {
    font-size: .8rem;
    font-weight: 900;
    color: black;
    padding: 30px 10px;
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;
}



.swiftDesactive {
    background: linear-gradient(to right, #A341FD, #4F4CF4);
    /* height: 100px; */
    padding: 15px 20px;
    border-radius: 30px;
    animation-name:  PopOut;
    animation-duration: 1s;
    position: relative;
    top: -180px;
    z-index: 1;
    width: 100px;
}

.swiftActive {
    background: linear-gradient(to right, #A341FD, #4F4CF4);
    /* height: 100px; */
    padding: 15px 20px;
    border-radius: 30px;
    animation-name:  PopIn;
    animation-duration: 1s;
    position: relative;
    top: 10px;
    z-index: 1;
    width: 100px;
    height: 60px;
    align-items: center;
}

.cerrarActive {
    padding: 15px 30px;
    border-radius: 30px;
    animation-name:  fadeInT;
    animation-duration: 2s;
    position: relative;
    top:25px;
    z-index: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;  
    color: #757575;
    border-style: none;
    outline: none;
    background: white;
    box-shadow: 0 3px 8px 0 #00000077;
    font-weight: 900;
}

.cerrarDesactive {
    display: none;
}

.abrirActive {
    padding: 15px 30px;
    border-radius: 30px;
    animation-name:  fadeInT;
    animation-duration: 2s;
    position: relative;
    top: -70px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;  
    color: white;
    z-index: 10;
    border-style: none;
    outline: none;
    font-weight: 900;
    box-shadow: 0 3px 8px 0 #00000077;
    background:linear-gradient(to right, #A341FD, #4F4CF4) ;
}

.abrirDesactive {
    display: none;
}

.lineActive {
    animation-name:  fadeInT;
    animation-duration: 2s;
    width: 100vw;
    position: relative;
    z-index: 0;
    top: -40px;
    
    border-color: #A341FD;
}

.lineDesactive {
    display: none;
}

.textActive {
    display:block;
    color: white;
    margin:0;
}

.textDesactive {
    display:block;
    margin: 0 20px;
    color: white;
}


/* .paso2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    animation-name:  fadeIn;
    animation-duration: 2s;
    color: rgb(80, 80, 80);
}

.paso3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    animation-name:  fadeIn;
    animation-duration: 3s;
    color: rgb(80, 80, 80);
}

.paso4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    animation-name:  fadeIn;
    animation-duration: 4s;
    color: rgb(80, 80, 80);
}
.paso5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 150px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    animation-name:  fadeIn;
    animation-duration: 5s;
    color: rgb(80, 80, 80);
}

.paso1e {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    animation-name:  fadeIn;
    animation-duration: 1s;
    color: rgb(80, 80, 80);
}

.paso2e {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    animation-name:  fadeIn;
    animation-duration: 2s;
    color: rgb(80, 80, 80);
}

.paso3e {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    animation-name:  fadeIn;
    animation-duration: 3s;
    color: rgb(80, 80, 80);
}

.paso4e {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 35px 0 35px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    animation-name:  fadeIn;
    animation-duration: 4s;
    color: rgb(80, 80, 80);
}

 */

/* 
.paso p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
} */

@keyframes fadeIn {
    0% {
      opacity: 0;
      display: none;
    }

    100% {
      opacity: 1;
      display: block;
    }
  }

  @keyframes fadeInT {
    0% {
      opacity: 0;
      display: none;
    }

    50% {
        opacity: 0;
    }
  
    100% {
      opacity: 1;
      display: block;
    }
  }

/*@keyframes animationIn {*/
        @keyframes PopIn {
            0% {
                top: -180px;
            }

            100% {
                top: 10px;
            }
          }

/*@keyframes animationIn {*/
    @keyframes PopOut {
        0% {
            top: 10px;   
        }

        100% {
            top: -180px;
        }
      }


@media screen and (max-width: 768px) {

    .blockTitle {
        padding: 5px;
        margin: 5px;
    }

    .blockTitle img {
        display: none;
    }

    .blockTitle h2 {
        font-size: 2rem;
    }

    .pasoApaso {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 280px;
    }

    .iconComo {
        padding: 30px;
        width: 50px;
        height: 50px;
    }

    .iconComo img {
        width: 30px;
    }

    .paso {
        margin: 0 10px;
        font-size: .65rem;
        padding: 0;
        width: 120px;
    }

    .paso h2 {
        font-size: 2rem;
        font-weight: 900;
        color: #AB97FF;
    
    }
    
    .paso h3 {
        font-size: .6rem;
        font-weight: 900;
        color: black;
        text-align: center;
        padding: 10px 15px 30px 15px;
    }

    .border {
        padding: 5px;
        width: 110px;
    
        
    }
    
    .swiftDesactive {
        background: linear-gradient(to right, #A341FD, #4F4CF4);
        height: 100px;
        width: 110px;
        /* padding: 70px 5px 25px 5px; */
        border-radius: 0 0 80px 80px;
        animation-name:  PopOut;
        animation-duration: 1s;
        position: relative;
        top: -180px;
        z-index: 1;
    }
    
    .swiftActive {
        background: linear-gradient(to right, #A341FD, #4F4CF4);
        height: 100px;
        width: 110px;
        /* padding: 70px 5px 25px 5px; */
        border-radius: 0 0 80px 80px;
        animation-name:  PopIn;
        animation-duration: 1s;
        position: relative;
        top: -60px;
        z-index: 1;
    }
    
    .cerrarActive {
        padding: 25px 10px 10px 10px;
        border-radius: 0 0 30px 30px;
        animation-name:  fadeInT;
        animation-duration: 2s;
        position: relative;
        z-index: 0;
        top: 50px;
        background:linear-gradient(to right, #A341FD, #4F4CF4) ;
    }
    
    .cerrarDesactive {
        display: none;
    }
    
    .abrirActive {
        padding: 25px 10px 10px 10px;
        border-radius: 0 0 30px 30px;
        animation-name:  fadeInT;
        animation-duration: 2s;
        position: relative;
        top: -60px;
        background:linear-gradient(to right, #A341FD, #4F4CF4) ;
    }
    
    .abrirDesactive {
        display: none;
    }
    
    .textActive {
        display:block;
        margin: 10px 5px;
        color: white;
    }
    
    .textDesactive {
        display:block;
        margin: 10px 5px;
        color: white;
    }

    /* .paso2 {
        margin: 20px 5px 0 5px;
        font-size: .7rem;
    }
    .paso3 {
        margin: 0px 5px 0 5px;
        font-size: .7rem;
    }

    .paso4 {
        margin: 20px 5px 0 5px;
        font-size: .7rem;
    }

    .paso5 {
        margin: 100px 5px 0 5px;
        font-size: .7rem;
    }

    .paso1e {
        margin: 100px 5px 0 5px;
        font-size: .7rem;
    }

    .paso2e {
        margin: 20px 5px 0 5px;
        font-size: .7rem;
    }
    .paso3e {
        margin: 20px 5px 0 5px;
        font-size: .7rem;
    }

    .paso4e {
        margin: 100px 5px 0 5px;
        font-size: .7rem;
    } */

    .buttonActive {
        margin: 0 20px;
    }
    
    .buttonDesactive {
        margin: 0 20px;
    }


}

@media screen and (max-width: 425px) {

    .blockTitle {
        padding: 5px;
        margin: 5px;
    }

    .blockTitle img {
        display: none;
    }

    .blockTitle h2 {
        font-size: 2rem;
    }

    .pasoApaso {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: max-content;
    }

    .iconComo {
        padding: 30px;
        width: 80px;
        height: 80px;
        background: linear-gradient(to right, #A341FD, #4F4CF4);
    }

    .iconComo img {
        width: 55%;
    }

    .paso1 {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso2 {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }
    .paso3 {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso4 {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso5 {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso1e {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso2e {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }
    .paso3e {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .paso4e {
        margin: 10px;
        font-size: 1.3rem;
        width: 50%;
        font-weight: 700;
        color: rgb(80, 80, 80);
    }

    .buttonActive {
        margin: 10px;
        width: 80%;
    }
    
    .buttonDesactive {
        margin: 10px;
        width: 80%;
    }


    .content {
        display: none;
    }


}
