.modal-aplication {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
    padding: 1em 1.8em;
    background: white;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
    height: 300px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    animation-name:  fadeIn;
    animation-duration: 1.2s;
}

.modal-options {
    position: absolute;
    left: auto;
    right: 0;
    top: 33px;
    width: 150px;
    z-index: 4;
    background: white;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 5px 12px 7px 12px ;
    text-align: center;
    animation-name:  fadeIn;
    animation-duration: 1.2s;
}

.descriptionModal {
    font-size: 13px;
}

.flex-buttons-modal-short {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-buttons-modal-short button {
  width: 100%;
}

.iconURLmodal {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: #757575;
    border-style: none;
    background: none;
    padding: 10px 10px 10px 40px;
    font-weight: 400;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    outline: none;
}

.iconURLmodal:hover,
.iconURLmodal:focus {
    color: #1DAEFF;
}

.container-close {
    padding: 6px 9px;
    border-radius: 50%;
    background: #1DAEFF;
}

.container-close img {
    width: 12px;
    height: 12px;
}

.container-image-modal {
    display: flex;
    justify-content: center;
}

.titleblock-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-modal {
    text-align: center;
}

.title-modal p {
    margin: 10px 0;
    font-size: 18px;
}

.confirmar-button {
    padding: 7px 20px;
    background: #1DAEFF;
    border-radius: 30px;
    color: white;
    margin: 5px 10px;
    font-weight: 700;
    border-style: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    outline: none;
    font-family: 'Lato', sans-serif;
}

.delete-button {
    padding: 7px 20px;
    background: #FF524B;
    border-radius: 7px;
    color: white;
    margin: 5px 10px;
    font-weight: 700;
    border-style: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    outline: none;
    font-family: 'Lato', sans-serif;
}

.confirmar-button:hover,
.confirmar-button:focus {
    background: transparent;
    color: #757575;
}

.cancelar-button {
    padding: 7px 10px;
    background: transparent;
    border-radius: 30px;
    margin: 5px 10px;
    color: #757575;
    border-style: none;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.cancelar-button:hover,
.cancelar-button:focus {
    color: #1DAEFF;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

  @media screen and (max-width: 1200px) {

}

  @media screen and (max-width: 425px) {
    .modal-aplication {
        top: 900px;
    }

  }