    /* azuloscuro: #378DCA
azulclaro: #1DAEFF
grisOscuro: #454545
grisMedio: #757575
grisClaro: #C4C4C4 */

.logoN {
    padding: 20px;
    background: none;
    /* background: linear-gradient(to right, #378DCA, #00BDEF); */
    border-radius: 0 0 40px 0;
    /* box-shadow: 0 3px 8px 0 #00000077; */
    /* margin-right: 750px; */
    list-style: none;
    text-decoration: none;
}

.logoN a {
    list-style: none;
    text-decoration: none;
}

.container-block-nav {
    display: block;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.container-block-nav-inicio {
    display: block;
    text-align: center;
    width: 100vw;
}

.navForm {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.nav-flex {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cerrar-sesion {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 30px;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin: 0 25px;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    outline   : none;
}

.title-encuesta {
    font-size: 4rem;
    color: #1DAEFF;
}

.texto-inicio {
    font-size: .9rem;
    color: #757575;
    margin: 0;
}



.container-inicio {
    display: inline-block;
    width: 250px;
}

.button-omitir {
    color: #C4C4C4;
    border-style: none;
    background: none;
    margin: 0;
    font-size: 1rem;
}

.button-omitir:hover,
.button-omitir:focus {
  outline   : none;
  color: #1DAEFF;
  
}


.button-comenzar {
    color: #1DAEFF;
    border-style: none;
    background: none;
    margin: 0;

}

.cerrar-sesion:hover,
.cerrar-sesion:focus {
  outline   : none;
  color: #757575;
  background: white;
  
}

.blockPerfil {
    display: block;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
} 

.menuN {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonInicioN {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 30px;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin: 0 25px;
    font-weight: 800;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.buttonInicioN:hover,
.buttonInicioN:focus {
  outline   : none;
  color: #757575;
  background: white;
  
}

.buttonConocenosN {
    font-family: 'Lato', sans-serif;
    border-style: none;
    background: none;
    font-size: 1rem;
    font-weight: 800;
    color: #757575;
    border-bottom: white;
}

.buttonConocenosN:hover,
.buttonConocenosN:focus {
  outline   : none;
  color   : #adabab;

}

.buttonInicioDesactiveN {
    display: none;
}

.buttonInicioCerrarN {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 30px;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin: 0 25px;
    font-weight: 800;
    display: block;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.buttonInicioCerrarN:hover,
.buttonInicioCerrarN:focus {
    outline   : none;
    color: #757575;
    background: white;

}

.inicioCerrarN {
    display: none;
}

.icon-Logo_540 {
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    
    .logoN {
        padding: 25px 30px 25px 25px;
    }

    .logoN img {
        width: 70px;
    }

    .buttonConocenosN {
        display: none;
        font-size: .7rem;
    }

    .buttonInicioN {
        font-size: .8rem;
    }

    .buttonInicioCerrarN {
        font-size: .8rem;
    }

}

@media screen and (max-width: 320px) {

    
    .logoN img {
        width: 70px;
    }

    .buttonConocenosN {
        display: none;
        font-size: .7rem;
    }

    .buttonInicioN {
        font-size: .8rem;
        margin: 0 10px;
    }

    .buttonInicioCerrarN {
        font-size: .8rem;
        margin: 0 10px;
    }

}


