    /* azuloscuro: #378DCA
azulclaro: #1DAEFF
grisOscuro: #454545
grisMedio: #757575
grisClaro: #C4C4C4 */

.logoN {
  padding: 15px 20px;
  background: none;
  border-radius: 0 0 40px 0;
  list-style: none;
  text-decoration: none;
}

.icon-search-phone {
  display: none;
}

.logoN-user {
  padding: 15px 0;
  background: none;
  border-radius: 0 0 40px 0;
  list-style: none;
  text-decoration: none;
}

.logoN a {
  list-style: none;
  text-decoration: none;
}

.container-block-nav {
  display: block;
  background: #1DAEFF;
  width: 100%;
}

.container-block-nav-inicio {
  background: #1DAEFF;
  display: block;
  width: 100%;
}

.navForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-flex {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-flex-login {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonMenu{
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background: white;
  color: #757575;
  border-style: none;
  padding: 10px 20px 10px 20px;
  margin: 5px 0;
  transition: .5s ease;
  outline   : none;
}

.buttonMenu:hover,
.buttonMenu:focus {
  background-color: #f1f1f1;
}

.buttonMenu img {
  margin-right: 10px;
}

.container-cerrar-sesion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cerrar-sesion button {
  width: 90%;
}

.container-buttons {
  display: flex;
  justify-content: flex-end;
  position: relative
}

.Actionsv2-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  left: auto;
  right: auto;
  width: 280px;
  position: absolute;
  color: #273b47;
  margin: 0;
  z-index: 6;
  top: 40px;
  padding: 15px 0 25px 0;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  animation-name:  fadeIn;
  animation-duration: .8s
}

.box-options {
  width: 100%;
}

.title-modal-nav {
  font-size: 16px;
  font-weight: 700;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes trackIn {
  0% {
    transform: translateY(50vw);
  }
  
  100% {
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
}

.cerrar-sesion img {
  margin-right: 10px;
}

.title-encuesta {
  font-size: 4rem;
  color: #1DAEFF;
}

.texto-inicio {
  font-size: .9rem;
  color: #757575;
  margin: 0;
}

.container-inicio {
    display: inline-block;
    width: 250px;
}

.button-omitir {
  color: #C4C4C4;
  border-style: none;
  background: none;
  margin: 0;
  font-size: 1rem;
}

.button-omitir:hover,
.button-omitir:focus {
  outline   : none;
  color: #1DAEFF;
}

.nonButtonsHeader {
  background: none;
  border-style: none;
  outline: none;
  margin: 0 2px;
  border-radius: 50%;
  padding: 7px 9px;
  transition: 1s ease;
}

.nonButtonsHeader:focus {
  background: #5cb9f0;
  transform: translateY(-2px);
}


.nonButtonsHeader-search {
  display: none;
}

.button-comenzar {
  color: #1DAEFF;
  border-style: none;
  background: none;
  margin: 0;
}

.blockPerfil {
  display: block;
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
} 

.menuN {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (max-width: 1024px) {

  .container-block-nav {
    border-radius: 0;
  }

}

@media screen and (max-width: 768px) {
  
  .icon-search-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #1DAEFF;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .icon-Logo_540 {
    font-size: 25px;
  }

  .icon-Logo_net540 {
    font-size: 25px;
  }

  .buttonConocenosN {
    font-size: .8rem;
  }

  .buttonInicioN {
    font-size: .8rem;
  }

  .buttonInicioCerrarN {
    font-size: .8rem;
  }
}

@media screen and (max-width: 426px) {
    
  .container-block-nav {
    display: block;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
  }

  .nonButtonsHeader-search {
    display: inline;
    background: none;
    border-style: none;
    outline: none;
    margin: 0 2px;
  }

  .Actionsv2-content {
    background-color: white;
    left: auto;
    top: auto;
    right: auto;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    position: fixed;
    color: #273b47;
    z-index: 4;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.25);
    animation: trackIn ease;
    animation-duration: .8s;
    animation-fill-mode: forwards;
  }

  .overlayActive-menu {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name:  fadeIn;
    animation-duration: .2s;
  }
    
  .nav-flex-login {
    width: 100vw;
  }

  .logoN-user {
    display: none;
  } 

  .container-buttons-flex {
    position: fixed;
    top: 0;
    z-index: 5;
    left: auto;
    right: auto;
    width: 100vw;
    padding: 10px 0;
    background: #1DAEFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .container-buttons-flex button img {
    width: 25px;
  }

  .container-buttons {
    width: 100vw;
  }

  .title-encuesta {
    font-size: 2rem;
    color: #1DAEFF;
  }

  .container-block-nav {
    border-radius: 30px 30px 0 0;
  }

  .buttonConocenosN {
    display: none;
    font-size: .7rem;
  }

  .buttonInicioN {
    font-size: .8rem;
  }

  .buttonInicioCerrarN {
    font-size: .8rem;
  }

  .blockPerfil {
    padding: 30px;
  }

  .cerrar-sesion {
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 375px) {

  .buttonConocenosN {
    display: none;
    font-size: .7rem;
  }

  .buttonInicioN {
    font-size: .7rem;
    margin: 0 10px;
  }

  .buttonInicioCerrarN {
    font-size: .7rem;
    margin: 0 10px;
  }

  .container-inicio {
    width: 80%;
  }
    
  .icon-Logo_540 {
    font-size: 20px;
  }
    
  .icon-Logo_net540 {
    font-size: 20px;
  }

  .cerrar-sesion {
    font-size: 0.7rem;
  }

}

@media screen and (max-width: 320px) {

  .buttonConocenosN {
    display: none;
    font-size: .7rem;
  }

  .buttonInicioN {
    font-size: .7rem;
    margin: 0 10px;
  }

  .buttonInicioCerrarN {
    font-size: .7rem;
    margin: 0 10px;
  }

  .container-inicio {
    width: 80%;
  }
    
  .icon-Logo_540 {
    font-size: 20px;
  }
    
  .icon-Logo_net540 {
    font-size: 20px;
  }

  .cerrar-sesion {
    font-size: 0.7rem;
  }

}


