.container-publication-large {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.publication {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}

.publication-list {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #757575;
}

.cabecera-publication-large {
  width: 100%;
  height: 150px;
  background: #B2DDF4;
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;
  align-items: center;
}

.title-service-context {
  color: white;
  font-size: 20px;
  width: 35%;
  margin: 0 0 0 20px;
}

.image-position-context {
  position: absolute;
  top: -50px;
  right: 0;
}

.image-position-context img {
  width: 400px;
}

.flex-info-service {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  top: -10px;
}

.info-service {
  width: 85%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.25);
}

.flex-title-vacant {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.container-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-rate-service {
  font-size: 18px;
  font-weight: 700;
}

/* styles container features service */

.flex-items {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.container-item-service {
  width: 32%;
  height: 70px;
  background: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container-border-icon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3px 0 10px rgba(0, 0, 0, 0.25);
}

.container-feactures {
  width: 60%;
}

.p-item-service {
  margin: 0;
  font-style: italic;
  font-size: 12px;
}

.p-item-service-strong {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
}

/* conatiner para respuestas en mis publicaciones */
.container-item-service-100 {
  width: 45%;
  padding: 20px 0;
  margin: 0 0 10px 0;
  background: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* styles a botones de interacción en my publication edit */

.flex-buttons-large {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.buttonEdit {
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  color: #757575;
  border-style: none;
  background: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  outline: none;
  transition: 0.5s ease;
}

.buttonEdit:hover {
  color: #1DAEFF;
}

.buttonEdit:active {
  color: #6DF49D;
}

.buttonVer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  width: 130px;
  padding: 10px 0;
  font-size: .8rem;
  color: white;
  border-style: none;
  border-radius: 7px;
  background: #1DAEFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  outline: none;
  transition: 0.5s ease;
}

.buttonVer:hover {
  transform: translateY(1px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.container-ILU-hero-public {
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidates-p {
  margin: 0;
}

.button-candidates {
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  color: #1DAEFF;
  border-style: none;
  background: none;
  outline: none;
}

.container-descriptions-publication {
  padding: 5px 0 10px 0;
  margin: 10px 0;
  border-radius: 30px;
  font-size: 13px;
  color: #757575;
  display: flex;
  align-items: center;
}

/* styles to my publications list */
.my-publication {
  display: block;
  width: 90%;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 15px 20px;
  border-style: solid;
  border-width: .5px;
  border-color: #c4c4c4;
  border-radius: 15px;
}

.flex-title-myService {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0 5px 0;
}

.flex-description-candidates {
  display: flex;
  flex-wrap: wrap;
}
 
.blockSubs-candidates {
  width: 95%;
}

.border-candidate {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 0 0 14px 14px;
  background: #f2f2f2;
  margin: 20px 0 0 0;
}

.title-my-publications {
  color: #1DAEFF;
}

.title-publication-ilu {
  margin-bottom: 50px;
  color: #1DAEFF;
}

.flex-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* verify work */

.div-TypeCompany {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  background: #1DAEFF;
  position: relative;
}

.icon-sector-style {
  width: 30px;
}

.cirle-check-publication {
  width: 20px;
  height: 20px;
  background-color: #6DF49D;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon-publication {
    width: 10px;
}

.option-title-vacant {
  justify-content: space-around;
  display: flex;
  position: absolute;
  right: 0;
  top: -65px;
  width: 120px;
}

.iconOptions {
    margin: 0 8px;
}

.spaceModal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .3s ease;
  background: #f2f2f2;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
}

.spaceModal svg {
  transition: .2s ease;
}

.spaceModal:hover {
  background: #e2e2e2;
  transform: translateY(-2px);
}

.spaceModal:active svg {
  transform: translateY(2px);
}

.buttons-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-decriptions-feed {
  font-weight: 800;
}

.block-items-descriptions {
    margin-left: 20px;
}

.description-loader {
    width: 100%;
    transform: rotate() skew() translate() scale()
}

.loader-animation {
    width: 300px;
}

.titleVacant {
    font-weight: 700;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #757575;
}

.titleVacant strong {
    color: #1DAEFF;
}

.title-vacant-general {
    width: 70%;
}

.title-skill {
    color: #1DAEFF;
}

.view-vacant {
    font-weight: 600;
    margin: 20px 0 20px 0;
    color: #1DAEFF;
}

.subtitleVacant {
    font-weight: 500;
    font-style: italic;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
}

.subtitleVacant-fecha {
    font-weight: 500;
    font-style: italic;
    margin: 2px 0;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
}

.center-items {
    font-weight: 300;
    font-style: italic;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockSubs {
    margin: 20px 0;
}

.subtitleVacant img {
    margin-right: 10px;
}

.short-description-vacant {
    width: 100%;
    max-height: 68px;
    overflow: hidden;
    padding: 0;
    margin: 10px 0 30px 0;
    color: #757575;
}

.description-vacant {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    color: #757575;
}

.block-white {
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, rgba(255,255,255,0)50%, rgb(255, 255, 255));;
    position: relative;
    top: 0;
    z-index: 1;
}

.description {
    font-size: 13px;
}

.description p {
    margin: 0;
}

.flex-buttons-vacant {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
}

.button-aplicar {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 7px;
    color: white;
    border-style: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    outline: none;
    transition: 1s ease;
}

.button-guardar {
    width: 190px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: none;
    border-radius: 7px;
    color: #757575;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 0 5px;
    font-weight: 700;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -20px;
    transition: .5s ease;
}

.button-guardar:hover {
    background: #1DAEFF;
    color: white;
    padding: 10px 10px 10px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}

.button-guardar:active,
.button-aplicar:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(10px);
}


.button-guardado {
    width: 190px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: #c4c4c4;
    border-radius: 7px;
    color: white;
    border-style: none;
    padding: 10px 10px 10px 40px;
    margin: 0 5px;
    font-weight: 700;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    animation-name:  swaIn;
    animation-duration: .4s
}

@keyframes swaIn {
    0% {
      transform: translateY(1px);
      background-color: #1DAEFF;
    }
  
    100% {
        transform: translateY(0);
        background-color: #c4c4c4;
    }
  }

.button-vacant {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.button-vacant-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
}

.button-vacant-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
}

.button-vacant-image {
    padding: 0 10px;
}

.button-vacant-p {
    margin: 0;
}

.image-center {
    text-align: center;
}

.image-center img {
    width: 100%;
}

@media screen and (max-width: 769px) {
  .container-ILU-hero-public {
    display: none;
  }
}


@media screen and (max-width: 426px) {

  .my-publication {
    margin: 10px 0;
  }

  .cabecera-publication-large {
    width: 100%;
    height: 150px;
    border-radius: 0;
    margin: 30px 0 0 0;
  }

  .container-item-service-100 {
    width: 80%;
    padding: 20px 0;
    margin: 0 0 10px 0;
    background: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .image-position-context {
    top: 10%;
  }

  .flex-description-candidates {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .blockSubs-candidates {
    width: 100%;
  }

  .border-candidate {
    width: 100%;
    border-left: none;
    border-top: solid #c4c4c4;
    border-width: .5px;
    padding: 10px 0 0 0;
  }

  .flex-description-candidates a {
    width: 100%;
  }

  .buttonVer {
    width: 100%;
    justify-content: center;
  }

  .buttonEdit {
    width: 50%;
  }

  .image-position-context img {
    width: 200px;
  }

  .centerButton-block {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .button-guardar {
    margin: 0 0 10px 0;
  }

  .title-vacant-general {
    width: 65%;
  }
    
  .titleVacant {
    display: block;
  }

  .titleVacant strong {
    margin: 0;
  }

  .flex-items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container-item-service {
    margin: 10px 0;
    width: 45%;
  }

  .div-TypeCompany {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
  }
    
  .icon-sector-style {
    width: 25px;
  }

  .cirle-check-publication {
    width: 15px;
    height: 15px;
  }

  .check-icon-publication {
    width: 8px;
  }

  .container-publication-large {
    border-radius: 0px;
  }
    
}

@media screen and (max-width: 376px) {
    
    .titleVacant {
        font-size: 14px;
    }

    .icon-sector-style {
        width: 30px;
    }

    .button-aplicar {
        font-size: .7em;
    }

    .button-guardar {
        font-size: .7em;
    }

}

@media screen and (max-width: 321px) {

    .icon-sector-style {
        width: 25px;
    }

    .div-TypeCompany {
        margin-right: 15px;
        padding: 10px;
    }

    .title-vacant-general {
        width: 80%;
    }

    .subtitleVacant-fecha {
        font-size: 13px;
    }

    .subtitleVacant {
        font-size: 13px;
    }

}