.container-publication-large {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.publication {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.publication-list {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #757575;
}

.cabecera-publication-large {
  width: 100%;
  height: 150px;
  background: #B2DDF4;
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;
  align-items: center;
}

.title-service-context {
  color: white;
  font-size: 20px;
  width: 35%;
  margin: 0 0 0 20px;
}

.image-position-context {
  position: absolute;
  top: -50px;
  right: 0;
}

.image-position-context img {
  width: 400px;
}

.flex-info-service {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  top: -10px;
}

.info-service {
  width: 85%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.25);
}

.flex-title-vacant {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}


/* styles container character */

.flex-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-item-service {
  width: 32%;
  height: 80px;
  background: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.p-item-service {
  width: 90%;
  text-align: center;
  margin: 0;
  font-style: italic;
}

/* styles a botones de interacción en my publication edit */

.flex-buttons-large {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonEdit {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: #757575;
    border-style: none;
    background: none;
    padding: 10px 10px 10px 40px;
    font-weight: 400;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    outline: none;
    transition: 0.5s ease;
}

.buttonEdit:hover {
    color: #1DAEFF;
}

.buttonEdit:active {
    color: #6DF49D;
}

.buttonVer {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: white;
    border-style: none;
    border-radius: 7px;
    background: #1DAEFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 10px 40px;
    font-weight: 400;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    outline: none;
    transition: 0.5s ease;
}

.buttonVer:hover {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.container-ILU-hero-public {
    padding: 20px 40px;
    text-align: center;
    width: 50%;
}

.candidates-p {
    margin: 0;
}

.button-candidates {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: #1DAEFF;
    border-style: none;
    background: none;
}

/* styles to my publications list */
.my-publication {
    display: block;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px 20px;
    border-style: solid;
    border-width: .5px;
    border-color: #c4c4c4;
    border-radius: 15px;
}

.flex-title-myService {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.flex-description-candidates {
    display: flex;
}
 
.blockSubs-candidates {
    width: 95%;
}

.border-candidate {
    width: 50%;
    border-left: solid #c4c4c4;
    border-width: .5px;
    text-align: center;
    padding: 0 0 0 10px;
}

.title-my-publications {
  color: #1DAEFF;
}

.title-publication-ilu {
    margin-bottom: 50px;
    color: #1DAEFF;
}

.flex-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* verify work */

.div-TypeCompany {
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    background: #1DAEFF;
    position: relative;
}

.cirle-check-publication {
    width: 20px;
    height: 20px;
    background-color: #6DF49D;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon-publication {
    width: 10px;
}

.option-title-vacant {
  justify-content: space-around;
  display: flex;
  position: absolute;
  right: 0;
  top: -55px;
  width: 80px;
}

.iconOptions {
    margin: 0 8px;
}

.spaceModal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: .3s ease;
  background: #f2f2f280;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
}

.spaceModal:hover {
  background: #f2f2f2;
  transform: translateY(-2px);
}

.title-decriptions-feed {
  font-weight: 800;
}

.block-items-descriptions {
    margin-left: 20px;
}

.description-loader {
    width: 100%;
    transform: rotate() skew() translate() scale()
}

.loader-animation {
    width: 300px;
}

.titleVacant {
    font-weight: 700;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #757575;
}

.titleVacant strong {
    color: #1DAEFF;
}

.title-vacant-general {
    width: 70%;
}

.title-skill {
    color: #1DAEFF;
}

.view-vacant {
    font-weight: 600;
    margin: 20px 0 20px 0;
    color: #1DAEFF;
}

.subtitleVacant {
    font-weight: 500;
    font-style: italic;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
}

.subtitleVacant-fecha {
    font-weight: 300;
    font-style: italic;
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
}

.center-items {
    font-weight: 300;
    font-style: italic;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockSubs {
    margin: 20px 0;
}

.subtitleVacant img {
    margin-right: 10px;
}

.short-description-vacant {
    width: 100%;
    max-height: 68px;
    overflow: hidden;
    padding: 0;
    margin: 10px 0 30px 0;
    color: #757575;
}

.description-vacant {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    color: #757575;
}

.block-white {
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, rgba(255,255,255,0)50%, rgb(255, 255, 255));;
    position: relative;
    top: 0;
    z-index: 1;
}

.description {
    font-size: 13px;
}

.description p {
    margin: 0;
}

.flex-buttons-vacant {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
}

.button-aplicar {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: #1DAEFF;
    border-radius: 7px;
    color: white;
    border-style: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    outline: none;
    transition: 1s ease;
}

.button-guardar {
    width: 190px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background: none;
    border-radius: 7px;
    color: #757575;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 0 5px;
    font-weight: 700;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -20px;
    transition: .5s ease;
}

.button-guardar:hover {
    background: #1DAEFF;
    color: white;
    padding: 10px 10px 10px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}

.button-guardar:active,
.button-aplicar:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(10px);
}


.button-guardado {
    width: 190px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: #c4c4c4;
    border-radius: 7px;
    color: white;
    border-style: none;
    padding: 10px 10px 10px 40px;
    margin: 0 5px;
    font-weight: 700;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    animation-name:  swaIn;
    animation-duration: .4s
}

@keyframes swaIn {
    0% {
      transform: translateY(1px);
      background-color: #1DAEFF;
    }
  
    100% {
        transform: translateY(0);
        background-color: #c4c4c4;
    }
  }

.button-vacant {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.button-vacant-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
}

.button-vacant-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
}

.button-vacant-image {
    padding: 0 10px;
}

.button-vacant-p {
    margin: 0;
}

.image-center {
    text-align: center;
}

.image-center img {
    width: 100%;
}

@media screen and (max-width: 425px) {

    .centerButton-block {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .button-guardar {
        margin: 0 0 10px 0;
    }
    
    .titleVacant {
        display: block;
    }

    .titleVacant strong {
        margin: 0;
    }

    .flex-items {
        flex-wrap: wrap;
    }

    .option-title-vacant {
        width: auto;
    }
    
}

@media screen and (max-width: 375px) {
    
    .titleVacant {
        font-size: 14px;
    }

    .icon-sector-style {
        width: 30px;
    }

    .button-aplicar {
        font-size: .7em;
    }

    .button-guardar {
        font-size: .7em;
    }

}

@media screen and (max-width: 320px) {

    .icon-sector-style {
        width: 25px;
    }

    .div-TypeCompany {
        margin-right: 15px;
        padding: 10px;
    }

    .title-vacant-general {
        width: 80%;
    }

    .subtitleVacant-fecha {
        font-size: 13px;
    }

    .subtitleVacant {
        font-size: 13px;
    }

}