
/* registro page */

.background-registro {
  padding: 20px 0;
  height: 75vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.background-registro::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}
  
.background-registro::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
.background-registro::-webkit-scrollbar-button {
  width: 10px;
    height: 10px;
}
  
.background-registro::-webkit-scrollbar-thumb {
  background: #e6e5e5;
  border-radius: 10px;
}
  
.background-registro::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

.col-registry {
  width: 32%;
  text-align: left;
  padding: 0 35px;
}

.flex-registry {
  display: flex;
  align-items: center;
  justify-content:center;
}

.title-registro {
  color: #1DAEFF;
  font-size: 40px;
}

.hero-p {
  font-size: 18px;
}

.border-form {
  width: 40%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.subtitle-strong {
  color: #1DAEFF;
}

.flex-Registre-names {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.formRegitre-pages {
  display: block;
  width: 80%;
}

.container-button-registre {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 768px) {
    
    .boxRegistre {
        width: 35vw;
    }

    .boxRegistre img {
        width: 30vw;
    }

    .flex-registry {
        flex-wrap: wrap;
    }

    .col-registry {
        width: 100%;
        text-align: center;
        padding: 0 35px;
    }
}

@media screen and (max-width: 425px) {

    .border-form {
        width: 100%;
    }
    
    .background-registro {
        padding: 30px 0 0px 0;    
    }

    .boxRegistre {
        margin: 10px 0;
        width: 60vw;
    }

    .boxRegistre img {
        width: 50vw;
    }

    .buttonRegistre {
        font-size: .9rem;
    }

    .formRegitre-pages {
        display: block;
        width: 100%;
    }
}

