
/* registro page */

.block-registre-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #f1f1f1;
}

.background-registro {
  display: flex;
  align-items: center;
}

.background-registro::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}
  
.background-registro::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
.background-registro::-webkit-scrollbar-button {
  width: 10px;
    height: 10px;
}
  
.background-registro::-webkit-scrollbar-thumb {
  background: #e6e5e5;
  border-radius: 10px;
}
  
.background-registro::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

.flex-registry {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-registry {
  width: 30%;
  text-align: center;
}

.styles-logo-hero {
  width: 350px;
}

.border-form {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-form-registro {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form-registre {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.background-form-registre {
  background: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.formRegitre-pages {
  display: block;
  width: 100%;
  text-align: center;
}

.obsolute-image {
  position: absolute;
  right: -150px;
  z-index: 0;
}

.obsolute-image-mano {
  position: absolute;
  top: 120px;
  right: -8px;
  z-index: 1;
}

.obsolute-image-mano img {
  width: 15px;
}

.obsolute-image img {
  width: 150px;
  height: 100%;
}

.title-registro {
  color: #1DAEFF;
  font-size: 40px;
}

.hero-p {
  font-size: 18px;
  line-height: 25px;
}

.subtitle-strong {
  color: #1DAEFF;
}

.flex-Registre-names {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-button-registre {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0 0;
}

.container-button-registre button {
  width: 100%;
}

.title-social-media-registre {
  color: #757575;
  font-size: 14px;
  text-align: center;
}

.flex-buttons-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* inicio styles pages */
.div-form-inicio {
  width: 85%;
}

.align-center-style {
  text-align: center;
}

.link-color {
  color: #1DAEFF;
}

@media screen and (max-width: 768px) {
    
  .boxRegistre {
    width: 35vw;
  }

  .border-form {
    width: 60%;
  }

  .boxRegistre img {
    width: 30vw;
  }

  .flex-registry {
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .col-registry {
    width: 100%;
    text-align: center;
    padding: 0 35px;
  }
}

@media screen and (max-width: 426px) {

  .border-form-registro {
    width: 90%;
  }

  .block-registre-page {
    padding: 50px 0;
  }

  .container-form-registre {
    width: 90%;
  }

  .obsolute-image {
    display: none;
  }

  .obsolute-image-mano {
    display: none;
  }

  .border-form {
    width: 90%;
  }

  .boxRegistre {
    margin: 10px 0;
    width: 60vw;
  }

  .boxRegistre img {
    width: 50vw;
  }

  .buttonRegistre {
    font-size: .9rem;
  }

}

