/* azuloscuro: #378DCA
azulclaro: #00BDEF */

.boxRegistre {
    text-align: center;
    padding: 10px;
    box-shadow: 0 3px 8px 0 #dad9d9;
    border-radius: 30px;
    display: block;
    width: 330px;
    margin: 0 10px;
    background: white;
}

.boxRegistre img {
    transform: scaleX(-1);
    width: 300px;
}

.boxRegistre:hover,
.boxRegistre:focus {
    border-style: none;
    outline   : none;
    box-shadow: 0 3px 8px 0 #378dcac7;
}

.buttonRegistre {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    background: none;
    border-radius: 30px;
    color: #1DAEFF;
    border-style: none;
    padding: 10px 15px;
    margin: 20px 0 10px 0;
    font-weight: 800;
}

/* registro page */

.background-registro {
    padding: 20px 0;    
}

.col-registry {
    width: 32%;
    text-align: left;
    padding: 0 35px;
}

.flex-registry {
    display: flex;
    align-items: center;
    justify-content:center;
}

.hero-p {
    font-size: 18px;
}

.border-form {
    width: 40%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.subtitle-strong {
    color: #1DAEFF;
}

.flex-Registre-names {
    display: flex;
    justify-content: center;
}

.formRegitre-pages {
    display: block;
    width: 350px;
}




@media screen and (max-width: 768px) {
    
    .boxRegistre {
        width: 35vw;
    }

    .boxRegistre img {
        width: 30vw;
    }

    .flex-registry {
        flex-wrap: wrap;
    }

    .col-registry {
        width: 100%;
        text-align: center;
        padding: 0 35px;
    }
}

@media screen and (max-width: 425px) {

    .border-form {
        width: 100%;
    }
    
    .background-registro {
        padding: 30px 0 0px 0;    
    }

    .boxRegistre {
        margin: 10px 0;
        width: 60vw;
    }

    .boxRegistre img {
        width: 50vw;
    }

    .buttonRegistre {
        font-size: .9rem;
    }

    .formRegitre-pages {
        display: block;
        width: 100%;
    }
}

