.background-logo-search {
  padding: 5px 10px;
  background:  none;
  border-radius: 30px;
}

.form-group {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 7px;
}

/* .form-group:hover .background-logo-search,
.form-group:focus .background-logo-search {
    border-radius: 30px;
    padding: 10px 180px 10px 10px;
} */

.form-control {
  border-style: none;
  border-radius: 7px;
  background: none;
  outline: none;
  padding: 5px 10px 5px 0;
  width: 150px;
}