.background-logo-search {
    padding: 5px 10px;
    background:  #1DAEFF;
    border-radius: 30px;
    margin-left: 5px;
}

.form-group {
    display: flex;
    align-items: center;
}

/* .form-group:hover .background-logo-search,
.form-group:focus .background-logo-search {
    border-radius: 30px;
    padding: 10px 180px 10px 10px;
} */

.form-control {
    border-style: none;
    border-radius: 7px;
    border: .5px solid #757575;
    outline: none;
    padding: 5px 10px;
    width: 150px;
}