.space-form-input {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 10px 20px;
  margin: 10px 0;
  width: 85%;
}

.space-form-input:focus,
.space-form-input:hover {
  outline: none;
  background: #f1f1f1;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.05);
}

.space-form-input-50 {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 10px 20px;
  margin: 10px 0;
  width: 35%;
}

.space-form-input-50:focus,
.space-form-input-50:hover {
  outline: none;
  background: #f1f1f1;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.05);
}

/* estilos para los botones de AUTH con redesSociales */

.div-buttons-auth {
  margin-top: 15px
}

.google-auth {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background: white;
  border-radius: 7px;
  color: #757575;
  border-style: none;
  padding: 10px 10px 10px 40px;
  margin: 10px 0;
  font-weight: 800;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  transition: .5s ease;
}

.facebook-auth {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background: #3b5998;
  border-radius: 7px;
  color: white;
  border-style: none;
  padding: 10px 10px 10px 40px;
  margin: 10px 0;
  font-weight: 800;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  transition: .5s ease;
}

.linkedin-auth {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background: #0e76a8;
  border-radius: 7px;
  color: white;
  border-style: none;
  padding: 10px 10px 10px 40px;
  margin: 10px 0;
  font-weight: 800;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  transition: .5s ease;
}

.button-short-google {
  background-color: white;
  border-style: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: .5s ease;
}

.button-short-face {
  background-color: #3b5998;
  border-style: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: .5s ease;
}

.button-short-linkedin {
  background-color:#0e76a8;
  border-style: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: .5s ease;
}

.line-login {
  margin: 20px 0 5px 0;
}

.button-short-google:hover,
.button-short-google:focus,
.button-short-face:hover,
.button-short-face:focus,
.button-short-linkedin:hover,
.button-short-linkedin:focus {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transform: scale(.95);
}

.google-auth:hover,
.google-auth:focus,
.facebook-auth:hover,
.facebook-auth:focus,
.linkedin-auth:hover,
.linkedin-auth:focus {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transform: scale(.95);
}

/* se daran estilos al los input del formulario de registro servicios y trabajos */
.selected-area-input {
  font-family: 'Lato', sans-serif;
  text-align: left;
  background: none;
  font-size: 14px;
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 10px 20px;
  margin: 10px 0;
  width: 99%;
  outline: none;
  color: #757575;
  font-weight: 500;
}

.form-input-selection {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 5px 0;
  margin: 10px 0;
  width: 99%;
}

.input-no-styles-selection {
  border-style: none;
  background: none;
  outline: none;
  padding: 5px 5px;
  border-radius: 30px;
  margin: 0 0 0 10px;
  width: 90%;
}

.form-input-text-col {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 10px 20px;
  margin: 10px 0;
  width: 80%;
}

.textarea-description-work {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  width: 90%;
  min-height: 90px;
  padding: 10px 20px;
  margin: 5px 0;
  outline: none;
}

.title-input-description-work {
  border: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #afafaf;
  padding: 10px 20px;
  margin: 10px 0;
  width: 90%;
}

.selected-area-input:focus,
.selected-area-input:hover,
.form-input-selection:focus,
.form-input-selection:hover,
.form-input-text-col:focus,
.form-input-text-col:hover,
.textarea-description-work:focus,
.textarea-description-work:hover,
.title-input-description-work:focus,
.title-input-description-work:hover {
  outline: none;
  background: #f1f1f1;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.05);
}

@media screen and (max-width: 375px) {
  .space-form-input-50 {
    width: 33%;
  }
}